@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --body-background-color:#1f2122;
    --hover-color:rgb(236,96,144);
    --lighter-body-background-color: #27292a;
    --border-radius:20px
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:var(--body-background-color) ;
}

#root{
    margin:0 auto;
}


@media (max-width:576px){
    #root{
        width:100%;
    }
}

@media (min-width:1200px){
    #root{
        width:80vw;
    }
}