.service{
    margin-top: 100px;
    width:80vw;
    margin-left: auto;
    margin-right: auto;
}
p{
    padding: 10px;
    line-height: 25px;
    font-size: 1.3em;
    
}
.service h1{
    margin-bottom: 10px;
}
.serviceallimage{
    display: flex;
    
}
.serviceimg{
    width:150px;
   
}
.gallery1,
.gallery2,
.gallery3,
.gallery4,
.gallery5,
.gallery6,
.gallery7,
.gallery8,
.gallery9
{
    border:0px solid green;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
@media only screen and (max-width:600px){
    .serviceimg{
        width:50px;
    }
    
      }

