.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  width:80vw;
  margin:0 auto;
}

.services .content-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 50px;
  row-gap: 10px;
}




.title {
  display: flex;
  justify-content: center;
  border: 0px solid green;
  background-color: transparent;
  position: relative;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  transition: 2s;
  position: relative;
  border: 1px solid black;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.main-title:hover {
  color: #fff;
}

.main-title:before {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: translateY(-50%);
  z-index: -1;
}

.main-title:hover:before {
  animation-name: move-dots-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-dots-left {
  0% {
    left: -25px;
    border-radius: 50%;
  }

  25% {
    left: -10px;
    border-radius: 50%;
  }

  50% {
    left: 0px;
    border-radius: 0%;
  }

  75% {
    left: 0px;
    border-radius: 0%;
  }

  100% {
    left: 0px;
    height: 48px;
    width: calc(50% - 0.5px);
    border-radius: 0%;
  }
}

.main-title::after {
  position: absolute;
  content: "";
  right: -25px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
  transform: translateY(-50%);
}

.main-title:hover::after {
  animation-name: move-dots-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-dots-right {
  0% {
    right: -25px;
    border-radius: 50%;
  }

  25% {
    right: -10px;
    border-radius: 50%;
  }

  50% {
    right: 0px;
    border-radius: 0%;
  }

  75% {
    right: 0px;
    border-radius: 0%;
  }

  100% {
    right: 0px;
    height: 48px;
    width: calc(50% - 0.5px);
    border-radius: 0%;
  }
}
