.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  width:80vw;
  margin:0 auto;
}

.features .content-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 50px;
}

.feature-card {
  width: 350px;
  border: 2px solid #ececec;
}

.first-img {
  position: relative;
  background: url('../../../images/features-01.jpg'), rgba(244, 64, 54, 0.5);
  background-size: cover;
  width: 100%;
  height: 300px;
  transition: 10s;
  background-blend-mode: overlay;
  overflow: hidden;
}

.first-img:after {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.5s;
}

.first-img:hover:after {
  border-width: 170px 500px 170px 0;
}

.second-img {
  position: relative;
  background: url('../../../images/features-02.jpg'), rgb(0, 150, 136, 0.5);
  background-size: cover;
  width: 100%;
  height: 300px;
  transition: .5s;
  background-blend-mode: overlay;
  overflow: hidden;
}

.second-img:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.5s;
}

.second-img:hover:after {
  border-width: 170px 500px 170px 0;
}


.third-img {
  position: relative;
  background: url('../../../images/features-03.jpg'), rgba(3, 169, 244, 0.5);
  background-size: cover;
  width: 100%;
  height: 300px;
  background-blend-mode: overlay;
  transition: .5s;
  overflow: hidden;
}

.third-img:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.5s;
}

.third-img:hover:after {
  border-width: 170px 500px 170px 0;
}

.feature-card h3 {
  text-align: center;
  padding: 20px 0px;
  font-size: 42px;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.feature-card h3:after {
  position: absolute;
  content: "";
  width: calc(100% - 35px);
  height: 5px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.first:after {
  background-color: rgb(244, 64, 54);
}

.second:after {
  background-color: rgb(0, 150, 136);
}

.third:after {
  background-color: rgb(3, 169, 244);
}

.feature-card p {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.8;
  text-align: center;
  color: gray;
  font-size: 20px;
  font-weight: normal;
}

.feature-footer {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-footer a {
  background: transparent;
  border-style: solid;
  border-width: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  text-transform: capitalize;
  display: block;
  transition: 0.5s;
  font-weight: bold;
}

.feature-footer a.one {
  color: var(--color-one);
  border-color: var(--color-one);
}

.feature-footer a.two {
  color: var(--color-two);
  border-color: var(--color-two);
}

.feature-footer a.three {
  color: var(--color-three);
  border-color: var(--color-three);
}

.feature-footer a:hover {
  color: white;
}

.feature-footer a:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  left: 0px;
  top: 0px;
}

.feature-footer a.one:before {
  background-color: var(--color-one);
}

.feature-footer a.two:before {
  background-color: var(--color-two);
}

.feature-footer a.three:before {
  background-color: var(--color-three);
}

.feature-footer a:hover:before {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  border: 0px solid green;
  background-color: transparent;
  position: relative;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  transition: 2s;
  position: relative;
  border: 1px solid black;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
}

.main-title:hover {
  color: #fff;
}

.main-title:before {
  position: absolute;
  content: "";
  left: -25px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  transform: translateY(-50%);
  z-index: -1;
}

.main-title:hover:before {
  animation-name: move-dots-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-dots-left {
  0% {
    left: -25px;
    border-radius: 50%;
  }

  25% {
    left: -10px;
    border-radius: 50%;
  }

  50% {
    left: 0px;
    border-radius: 0%;
  }

  75% {
    left: 0px;
    border-radius: 0%;
  }

  100% {
    left: 0px;
    height: 48px;
    width: calc(50% - 0.5px);
    border-radius: 0%;
  }
}

.main-title::after {
  position: absolute;
  content: "";
  right: -25px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;
  transform: translateY(-50%);
}

.main-title:hover::after {
  animation-name: move-dots-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-dots-right {
  0% {
    right: -25px;
    border-radius: 50%;
  }

  25% {
    right: -10px;
    border-radius: 50%;
  }

  50% {
    right: 0px;
    border-radius: 0%;
  }

  75% {
    right: 0px;
    border-radius: 0%;
  }

  100% {
    right: 0px;
    height: 48px;
    width: calc(50% - 0.5px);
    border-radius: 0%;
  }
}
