.contentgallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    padding: 0px 40px;
  }
  
  .gallerycard {
    width: 300px;
    height: 300px;
    border: 15px solid rgb(25, 25, 25);
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
  }
  
  .img {
    width: 100%;
    transition: 0.5s;
  }
  
  .gallerycard:before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    background-color: white;
    opacity: 0.2;
    border: 10px solid rgba(250, 250, 250, 0.2);
    transform: translate(-50%, -50%);
    z-index: 2;
  
  }
  
  
  .gallerycard img:hover {
    transform: rotate(5deg) scale(1.1);
  }
  