*{
    margin: 0;
    padding: 0;
}
.container{
    width:80vw;
    margin: 0 auto;
}

header h1{
    background-color: cadetblue;
    padding: 10px 0px;
    text-align: center;
}
button{
    width: 100%;
    margin: 5px 0px;
    padding: 10px 0px;
    color:white;
    background-color: blue;
    outline: 0px;
    font-size: 1.5em; 
    cursor: pointer;
}

.main{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(150px, 1fr)) ;
    column-gap: 10px;
    row-gap: 10px;
}
main .member{
    display: flex;
    border:1px  solid green;
    flex-direction: column;
}
