.container{
    background-color: rgb(25,25,25);
    transition: 2s;
    display: flex;
    align-items: center;

}

    .header{
    width:80vw;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border:0px solid green;
    position: relative;
    z-index: 1000;
    background-color:rgb(25,25,25);
}

.img{
    width:65px;
}

.mainul {
    display: flex;
    list-style-type: none;
    gap:10px;
    padding-right: 100px;
    position:relative;
}
.subul{
    position:absolute;
    list-style-type:none;
    z-index: 2;
    display: none;
    
}
.subul li{
    margin-bottom: 10px;
    background-color: aliceblue;
}

.a,.portfolio{
    display: inline-flex;
    padding: 5px;
   font-size: 1.4em;
    color:goldenrod;
    text-decoration: none;
    position: relative;
    align-items: center;
}
.firstlink{
    display: inline-block;
    padding: 5px;
   font-size: 1.4em;
    color:goldenrod;
    text-decoration: underline;
    position: relative;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
}
.fontAwesomIcon{
    font-size: 1em;
    color:goldenrod;
}
/*
.a:after{
    content: '';
    position: absolute;
    left:0;
    top:100%;
    width:0;
    height:3px;
    background-color: orange;
    transition: 0.5s;
}

.frstlink:after{
    content: '';
    position: absolute;
    left:0;
    top:100%;
    width:100%;
    height:3px;
    background-color: orange;   
}
.a:hover:after{
width: 100%;
}
*/
.burger{
    display: none;
    font-size: 24px;
    color:goldenrod;
}

.show{
    height:495px;
}

@media only screen and (max-width:600px){
.container{
    width: 100vw;
    z-index: 1;
    top:20px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.img{
    width:75px;
}

.burger{
    display: flex;
    height:155px;
    align-items: center;
}

.mainul{
    flex-direction: column;
    position: absolute;
    left:0;
    top:100%;
    background-color: black;      
}
.header{
    align-items:center;
    border:0px solid green;
    height:100px;
    width:90%;
}
}