body{
    font-family:Calibri;
}
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height:calc(100vh - 100px);
    width:100%;
    z-index: -1;
    position: relative;

    }

@media only screen and (max-width:600px){
.hero{
height:200px;
}
}