body{
    font-family:Calibri;
}
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height:100vh;
    width:100%;
    
    }

@media only screen and (max-width:600px){
.hero{
height:200px;
}
}