.hero{
    background-image: url('../../assets/images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #27292a;
    padding: 50px;
    border-radius: 25px;
}
.hero .content{
    max-width: 600px;
    letter-spacing: 5px;
}
.content h3{
margin-bottom: 20px;
text-transform: capitalize;  
}
.content h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 900;
}
.content h1 span{
    color:var(--hover-color);
}
.content a{
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--hover-color);
    color:white;
    text-decoration: none;
    border-radius: 10px;
}
